.nav {
  min-height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #34404E;
  border: 0.5px solid #E3F4FF;
  padding: 0 6.875rem;
  @media (max-width: 725px) {
    background: transparent;
    border: none;
    padding: 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      margin: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        max-height: 1.5rem;
      }
      p {
        margin-left: 0.90625rem;
        font: inherit;
        background: transparent;
        border: none;
        color: #fff;
        font-family: 'HelveticaNeue', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }


  }

