.home {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 6.875rem;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    .homeNavigation {
      width: 95%;
    }

  }

  .homeNavigation {
    width: 40%;
    max-width: 29.375rem;
    display: flex;
    flex-direction: column;
    margin-right: 3.125rem;
    @media (max-width: 992px) {
      width: 100%;
      margin-right: 0;
      align-items: center;
      max-width: 100%;
    }
    .title {
      font-family: 'HelveticaNeue', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2rem;
      color: #161B21;
      margin: 0;
      margin-bottom: 1.5625rem;
    }
    .navigationCard {
      width: 100%;
      display: flex;
      height: 6rem;
      border-radius: 20px;
      border: 1.7px solid #EAF1F9;
      background: #FBFCFD;
      align-items: center;
      padding-left: 2rem;
      cursor: pointer;
      margin: 0.5rem 0;

      &:first-child {
        margin-top: 0;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #34404E;
      }

      img {
        margin-right: 2rem;
        height: 2rem;
      }

      &.active,
      &:hover{
        background: #EAF1F9;
      }
    }
  }

  .homeCard {
    width: 60%;
    max-width: 73.3125rem;
    min-height: 21.3125rem;
    padding: 2.25rem;
    display: flex;


    img {
      max-width: 26.8125rem;
      width: 100%;
      height: 16.8125rem;
      align-self: center;

    }

    @media (max-width: 992px) {
      flex-direction: column;
      width: 100%;
      img {
        max-width: 33.8125rem;
        height: 21.8125rem;
        @media (max-width: 380px) {
          max-width: 26.8125rem;
          height: 16.8125rem;
        }
      }
    }

    @media (max-width: 480px) {
      padding: 0;
    }

    .cardInfoWrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.25rem;
      row-gap: 0.625rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      .cardContent {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 1.75rem;
        max-width: 12.75rem;
        width: 100%;
        height: 6.3125rem;
        background: #FBFCFD;
        border: 0.7px solid #D5EBFF;
        border-radius: 1.4375rem;
        flex-direction: column;
        h5 {
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.5rem;
          color: #34404E;
          margin: 0;
        }
        p {
          margin: 0;
          font-weight: 700;
          font-size: 1.375rem;
          line-height: 1.6875rem;
        }
      }
    }
    .cardPersonalInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .titleWrappers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.8125rem 2.875rem 3.4375rem 3.5rem;

        @media (max-width: 600px) {
            padding: 2.8rem 0;
        }

        h3 {
          margin: 0;
          font-style: normal;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 2rem;
          color: #0A324F;
        }
        div {
          display: flex;
          column-gap: 0.9375rem;
          cursor: pointer;

          span {
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: #4692C9;
          }

          img {
            height: 1.25rem;
            width: 1.25rem;
          }
        }
      }
    }
    .personalInfoWrapper {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      width: 100%;
      table {
        .editTbody {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
          width: 100%;
        }
        tr {
          td {
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: #34404E;
            @media (max-width: 480px) {
              width: 50%;
              @media (max-width: 300px) {
                font-size: 0.925rem;
                line-height: 100%
              }

            }
            &.editPersonalInfoTd {
              @media (max-width: 480px) {
                width: 100%;

                input {
                  max-width: 100%;
                }
              }
            }
            &.flex-column {
              max-width: 25rem;
              width: 100%;
            }
            &:first-child {
              font-weight: 500;
              font-size: 1.125rem;
              line-height: 1.5rem;
              color: #A2A7AE;
            }

              label {
                font-size: 1rem;
                color: #34404E;
                margin-bottom: 0.5rem;
              }
              input {
                max-width: 25rem;
                height: 3.5rem;
                background: #F7F8FA;
                border-radius: 0.375rem;
                width: 100%;
                padding: 0 0.75rem;
                resize: vertical;
                box-sizing: border-box;
                font-size: 0.875rem;
                color: #C0C4C8;
                border: none;

                &:focus {
                  border: none;
                }

                &:disabled {
                  background-color: #eaebed;
                }
              }
          }
        }
      }
      .checkBoxWrapper {
        display: flex;
        position: relative;
        margin-top: 1.25rem;
        cursor: pointer;
        user-select: none;
        align-items: center;
        @media (max-width: 600px) {
          justify-content: space-between;
        }
        p {
          margin: 0;
          font-size: 1rem;
          line-height: 1.5rem;
          color: #34404E;
        }
        input:checked ~ .checkmark {
          background-color: #1877BB;
          &:after {
            display: block;
          }
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 20px;
          width: 20px;
        }
        .checkmark {
          position: relative;
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 4px;
          background-color: #eee;
          margin-left: 2rem;
          &:hover {
            background-color: #ccc;
          }
          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 0.5625rem;
            top: 0.3125rem;
            width: 0.3125rem;
            height: 0.625rem;
            border: solid white;
            border-width: 0 0.1875rem 0.1875rem 0;
            transform: rotate(45deg);
          }
        }
      }
      .footer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
          button {
            max-width: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 3rem;
            padding: 0.625rem 1.5rem;
            background: #1877BB;
            border-radius: 8px;
            font-size: 16px;
            color: #FFFFFF;
            &:first-child {
              background: transparent;
              color: #34404E;
            }
          }
        @media (max-width: 480px) {
          justify-content: space-between;
          margin-top: 2.75rem;
          button {
            max-width: 100%;
          }
        }
      }
    }
  }
}