* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  font-size: 100%;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  html {
    font-size: 12px;
  }
  
}